@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --blue: rgb(104, 154, 240);
  --red: rgb(255, 43, 53);
  --green: rgb(43, 255, 131);
  --light-blue: rgb(241, 245, 254);
  --dark: rgb(31, 31, 31);
  --background: rgb(24, 24, 24);
  --very-dark: rgb(10, 10, 10);
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 32px;
  --radius: var(--spacing-1);
}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: var(--dark);
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a.active {
  box-shadow: 0 3px 0 0 var(--blue);
  filter: drop-shadow(0 0 .25rem var(--blue));
}
.active-small {
  box-shadow: 0 2px 0 0 var(--blue);
  filter: drop-shadow(0 0 .1rem var(--blue));
  width: fit-content;
}
a:hover {
  filter: drop-shadow(0 0 .25rem var(--blue));
}

.container {
  width: 80%;
  margin: 0 auto;
}
.section {
  margin-top: 4em;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin-bottom: var(--spacing-3);
}
h2.error {
  font-style: italic;
  font-size: 1.2em;
}

.card {
  position: relative;
  background-color: var(--background);
  padding: var(--spacing-3);
  border-radius: var(--radius);
  box-shadow: 0 1px 0 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card.outlined  {
  box-shadow: 0 0 1px 0 #fff;
}
.card-header {
  width: calc(100% + 32px * 2);
  margin: -32px -32px 32px -32px;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card .card-footer {
  width: calc(100% + 32px * 2);
  margin: 32px -32px -32px -32px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.card .card-footer .card-action {
  text-align: center;
  padding: var(--spacing-2);
  cursor: pointer;
}

input:not([type=checkbox]), textarea, select {
  display: block;
  border: none;
  background-color: var(--background);
  color: rgb(170, 170, 170);
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--radius);
  border: 1px solid rgb(83, 83, 83);
  box-shadow: 0 1px 0 0 #000;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid var(--blue);
}
input.error, textarea.error, select.error {
  color: var(--red);
  border: 1px solid var(--red) !important;
}
textarea {
  padding: var(--spacing-2);
  resize: none;
}

label {
  margin-top: var(--spacing-2);
}
label input, label textarea, label select {
  margin-top: var(--spacing-1);
}